{% extends 'home.html' %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Harry Potter</title>
  </head>
  <body>
    <h1>Hello, world!</h1>

    {% block content %}

    <div class="container">
    
    <div class="card" style="width: 25rem; margin-top: 30px; ">
      <img src="static/imgh/harry2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Harry Potter y la cámara secreta</h5>
        <p class="card-text">Tras derrotar una vez más a lord Voldemort, su siniestro enemigo en Harry Potter y la piedra filosofal, Harry espera impacientemente en casa de sus insoportables tíos el inicio del segundo curso del Colegio Hogwarts de Magia y Hechicería. Sin embargo, la espera dura poco, pues un elfo aparece en su habitación y le advierte que una amenaza mortal se cierne sobre la escuela. Así pues, Harry no se lo piensa dos veces y, acompañado de Ron, su mejor amigo, se dirige a Hogwarts en un coche volador. Pero ¿puede un aprendiz de mago defender la escuela de los malvados que pretenden destruirla? Sin saber que alguien ha abierto la Cámara de los Secretos, dejando escapar una serie de monstruos peligrosos, Harry y sus amigos Ron y Hermione tendrán que enfrentarse con arañas gigantes, serpientes encantadas, fantasmas enfurecidos y, sobre todo, con la mismísima reencarnación de su más temible adversarioAutor: J.K. Rowling</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Autor J. K. Rowling</li>
        <li class="list-group-item">Año 1998</li>
        <li class="list-group-item">Idioma Español</li>
      </ul>
      <div class="card-body">
        <a href="{% url 'harry1'  %}" class="card-link">Anterior</a>
        <a href="{% url 'harry3'  %}" class="card-link">Siguiente</a>
      </div>
    </div>
  </div>
    
    {% endblock %}



  </body>
</html>